html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

body {
  margin-top: 10px;
  height: 100%;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 30px;
  width: 100px;
  align-content: center;
  margin-left: 45%;
  text-align: center;
}

h1 {
  margin: 0;
  font-weight: 300;
}

#editorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
